<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".plist" mimeType="application/xaml+xml"/>
      <mimeMap fileExtension=".fnt" mimeType="application/xaml+xml"/>
    </staticContent>
  </system.webServer>
</configuration>